.idea/encodings.xml
.idea/.name
.idea/artifacts/FileOrganizer_jar.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
[HorribleSubs] file name
FileOrganizer.iml
out/production/FileOrganizer/META-INF/MANIFEST.MF
src/META-INF/MANIFEST.MF
